.js_v_hidden {
  visibility: hidden; }

.js_d_none {
  display: none; }

.js_border_none {
  border: 0; }

html, body {
  height: 100%; }

.header {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 50px;
  margin: 30px 0 0 0; }
  .header__nav {
    height: 100%; }
    .header__nav .heading_menu {
      height: 100%; }
      .header__nav .heading_menu .item {
        height: 100%;
        margin: 0 20px 0 0;
        float: left;
        height: 50px;
        line-height: 50px; }
        .header__nav .heading_menu .item:first-child {
          display: none; }
        .header__nav .heading_menu .item:nth-child(2) {
          margin: 0 20px 0 20px; }
        .header__nav .heading_menu .item__link {
          display: block;
          padding: 0 20px;
          text-decoration: none;
          background-color: #F5F5F5;
          color: #ff386c;
          transition: linear 0.5s;
          border-radius: 25px;
          font-size: 18px;
          font-size: 1.125rem; }
          .header__nav .heading_menu .item__link:hover {
            background-color: #ff386c;
            color: #F5F5F5; }

.top_menu {
  position: relative;
  height: 100%;
  background-image: url("../img/menu_back_ryuguu.png");
  background-size: 1920px auto;
  background-repeat: no-repeat;
  background-position: center; }
  .top_menu .fp-tableCell {
    display: block; }
  .top_menu .logo {
    padding: 100px 0;
    box-sizing: border-box;
    opacity: 0; }
    .top_menu .logo__item {
      width: 900px;
      height: 400px;
      margin: 0 auto;
      text-align: center; }
      .top_menu .logo__item__link .menu_logo_image {
        width: auto;
        height: 400px; }
  .top_menu .list {
    width: 1920px;
    margin: 30px auto 0 auto;
    padding: 0 50px;
    box-sizing: border-box; }
    .top_menu .list__item {
      width: 350px;
      height: auto;
      margin: 0 25px;
      float: left; }
      .top_menu .list__item:first-child {
        margin: 0 25px 0 135px; }
      .top_menu .list__item:last-child {
        margin: 0 135px 0 25px; }
      .top_menu .list__item__link {
        display: block;
        text-align: center; }
        .top_menu .list__item__link__image {
          width: 350px;
          height: auto; }
  .top_menu .soogo {
    position: absolute;
    bottom: 30px;
    left: -200px; }
    .top_menu .soogo__image {
      width: auto;
      height: 200px; }

.fullpage {
  display: none;
  position: relative; }
  .fullpage #section3 .slide3_1 .back_layer, .fullpage #section3 .slide3_3 .back_layer {
    position: relative;
    height: 100%;
    background-color: #FFF;
    background-image: url("../img/quiz_back_ryuguu.png");
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: center; }
    .fullpage #section3 .slide3_1 .back_layer .quiz, .fullpage #section3 .slide3_3 .back_layer .quiz {
      position: absolute;
      right: 0;
      bottom: 150px;
      left: 0;
      width: 900px;
      height: 600px;
      margin: auto; }
      .fullpage #section3 .slide3_1 .back_layer .quiz__word, .fullpage #section3 .slide3_3 .back_layer .quiz__word {
        position: relative;
        width: 900px;
        height: 300px; }
        .fullpage #section3 .slide3_1 .back_layer .quiz__word .question, .fullpage #section3 .slide3_3 .back_layer .quiz__word .question {
          position: relative;
          width: 750px;
          height: 200px;
          margin: 25px auto 0 auto;
          border: 10px solid #ff8e88;
          box-sizing: border-box;
          background-color: #FFF; }
          .fullpage #section3 .slide3_1 .back_layer .quiz__word .question__word, .fullpage #section3 .slide3_3 .back_layer .quiz__word .question__word {
            position: absolute;
            right: 0;
            left: 0;
            width: 650px;
            margin: 22px auto;
            line-height: 2;
            color: #ff8e88;
            font-weight: bold;
            font-size: 34px;
            font-size: 2.125rem; }
            .fullpage #section3 .slide3_1 .back_layer .quiz__word .question__word span, .fullpage #section3 .slide3_3 .back_layer .quiz__word .question__word span {
              display: block; }
          .fullpage #section3 .slide3_1 .back_layer .quiz__word .question__circle, .fullpage #section3 .slide3_3 .back_layer .quiz__word .question__circle {
            position: absolute;
            top: -30px;
            left: -30px;
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background-color: #ff8e88; }
            .fullpage #section3 .slide3_1 .back_layer .quiz__word .question__circle__number, .fullpage #section3 .slide3_3 .back_layer .quiz__word .question__circle__number {
              height: 80px;
              line-height: 80px;
              text-align: center;
              color: #FFF;
              font-weight: bold;
              font-size: 30px;
              font-size: 1.875rem; }
      .fullpage #section3 .slide3_1 .back_layer .quiz__choice, .fullpage #section3 .slide3_3 .back_layer .quiz__choice {
        width: 900px;
        height: 300px; }
        .fullpage #section3 .slide3_1 .back_layer .quiz__choice__A, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__A {
          width: 300px;
          margin: 0 0 0 50px; }
        .fullpage #section3 .slide3_1 .back_layer .quiz__choice__B, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__B {
          width: 300px;
          margin: 0 50px 0 0; }
        .fullpage #section3 .slide3_1 .back_layer .quiz__choice__A, .fullpage #section3 .slide3_1 .back_layer .quiz__choice__B, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__A, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__B {
          text-align: center;
          float: left; }
          .fullpage #section3 .slide3_1 .back_layer .quiz__choice__A .link, .fullpage #section3 .slide3_1 .back_layer .quiz__choice__B .link, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__A .link, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__B .link {
            display: block; }
            .fullpage #section3 .slide3_1 .back_layer .quiz__choice__A .link .image, .fullpage #section3 .slide3_1 .back_layer .quiz__choice__B .link .image, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__A .link .image, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__B .link .image {
              width: auto;
              height: 300px; }
        .fullpage #section3 .slide3_1 .back_layer .quiz__choice__soogo, .fullpage #section3 .slide3_3 .back_layer .quiz__choice__soogo {
          width: 200px;
          float: left; }
    .fullpage #section3 .slide3_1 .back_layer .slide_position_bar, .fullpage #section3 .slide3_3 .back_layer .slide_position_bar {
      position: absolute;
      top: auto;
      bottom: 50px;
      width: 100%;
      margin: auto;
      text-align: center; }
  .fullpage #section3 .slide3_2 .back_layer, .fullpage #section3 .slide3_4 .back_layer {
    position: relative;
    height: 100%;
    background-color: #FFF;
    background-image: url("../img/quiz_back_ryuguu.png");
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: center; }
    .fullpage #section3 .slide3_2 .back_layer .movie, .fullpage #section3 .slide3_4 .back_layer .movie {
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      margin: auto; }
      .fullpage #section3 .slide3_2 .back_layer .movie__gif, .fullpage #section3 .slide3_4 .back_layer .movie__gif {
        position: relative;
        height: 100%;
        text-align: center; }
        .fullpage #section3 .slide3_2 .back_layer .movie__gif .image, .fullpage #section3 .slide3_4 .back_layer .movie__gif .image {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: auto;
          height: 80%;
          margin: auto; }
    .fullpage #section3 .slide3_2 .back_layer .answer, .fullpage #section3 .slide3_4 .back_layer .answer {
      position: absolute;
      z-index: 4;
      top: auto;
      right: 0;
      bottom: 120px;
      left: 0;
      width: 1000px;
      height: 600px;
      margin: auto; }
      .fullpage #section3 .slide3_2 .back_layer .answer__illust, .fullpage #section3 .slide3_4 .back_layer .answer__illust {
        position: relative;
        width: 400px;
        float: left; }
        .fullpage #section3 .slide3_2 .back_layer .answer__illust .image, .fullpage #section3 .slide3_4 .back_layer .answer__illust .image {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 400px;
          height: auto;
          margin: auto; }
      .fullpage #section3 .slide3_2 .back_layer .answer__sentence, .fullpage #section3 .slide3_4 .back_layer .answer__sentence {
        width: 500px;
        text-align: center;
        float: right; }
        .fullpage #section3 .slide3_2 .back_layer .answer__sentence .image, .fullpage #section3 .slide3_4 .back_layer .answer__sentence .image {
          width: 500px;
          height: auto; }
      .fullpage #section3 .slide3_2 .back_layer .answer__illust, .fullpage #section3 .slide3_2 .back_layer .answer__sentence, .fullpage #section3 .slide3_4 .back_layer .answer__illust, .fullpage #section3 .slide3_4 .back_layer .answer__sentence {
        height: 100%; }
    .fullpage #section3 .slide3_2 .back_layer .slide_position_bar, .fullpage #section3 .slide3_4 .back_layer .slide_position_bar {
      position: absolute;
      top: auto;
      bottom: 50px;
      width: 100%;
      margin: auto;
      text-align: center; }

.fp-controlArrow.fp-prev {
  visibility: hidden; }

.fp-controlArrow.fp-next {
  visibility: hidden; }
