//  name   : _variables.scss
//  writer : DaichiSeki
//  date   : 2016/11/24〜
//  色コードを格納した変数はここへ
@charset "UTF-8";

//  仮の色コード
$key_color1: #addbff;  //  相生屋
$key_color2: #ff8e88;  //  魚勝商店 
$key_color3: #ffc489;  //  辻喜
$key_color4: #84ff84;  //  藤田屋商店

$link_color1: #ff386c;
