//  name   : style.scss
//  writer : DaichiSeki
//  date   : 2016/11/14〜
@charset "UTF-8";

@import "variables";
@import "mixin";
@import "js-utility";



html,body {
    height: 100%;
}

//  header
//  .pugはinclude/_header.pug
.header {
    display: none;  //オープニング後に書き換え
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;

    &__nav {
        height: 100%;

        .heading_menu {
            height: 100%;

            .item {
                height: 100%;
                margin: 0 20px 0 0;
                float: left;
                @include middle-line(50);

                &:first-child {
                    display: none;
                }

                //  1つ目のメニューを非表示にしているため
                &:nth-child(2) {
                    margin: 0 20px 0 20px;
                }

                &__link {
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    background-color: #F5F5F5;
                    color: $link_color1;
                    transition: linear 0.5s;
                    @include border-radius(25);
                    @include font-size(18);

                    &:hover {
                        background-color: $link_color1;
                        color: #F5F5F5;
                    }
                }
            }
        }
    }
}



.top_menu {
    height: 100%;

    //  fullpage.jsのCSS打ち消し
    .fp-tableCell {
        display: block;
    }

    //  ロゴ(食育ライブ2017)
    .logo {
        //  margin: 100px 0; はNG
        //  各sectionの高さを変えると、店舗選択に戻った際に高さがおかしくなる
        padding: 100px 0;
        box-sizing: border-box;

        &__item {
            width: 900px;
            height: 400px;
            margin: 0 auto;
            background-color: #ee9144;
        }
    }

    .list {
        width: 1450px;
        margin: 0 auto;
        padding: 0 50px;
        box-sizing: border-box;

        &__item {
            width: 300px;
            height: auto;
            margin: 0 25px;
            float: left;
            &:first-child {
                margin: 0 25px 0 0;
            }
            &:last-child {
                margin: 0 0 0 25px;
            }

            &__link {
                display: block;
                text-align: center;

                &__image {
                    width: 300px;
                    height: auto;
                }
            }
        }
    }
}



.fullpage {
    display: none;
    position: relative;
}



//  fullpage.cssの改変部分
