//  name   : style.scss
//  writer : DaichiSeki
//  date   : 2016/11/14〜
@charset "UTF-8";

@import "variables";
@import "mixin";
@import "js-utility";



html,body {
    height: 100%;
}

//  header
//  .pugはinclude/_header.pug
.header {
    display: none;  //オープニング後に書き換え
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;

    &__nav {
        height: 100%;

        .heading_menu {
            height: 100%;

            .item {
                height: 100%;
                margin: 0 20px 0 0;
                float: left;
                @include middle-line(50);

                &:first-child {
                    display: none;
                }

                //  1つ目のメニューを非表示にしているため
                &:nth-child(2) {
                    margin: 0 20px 0 20px;
                }

                &__link {
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    background-color: #F5F5F5;
                    color: $link_color1;
                    transition: linear 0.5s;
                    @include border-radius(25);
                    @include font-size(18);

                    &:hover {
                        background-color: $link_color1;
                        color: #F5F5F5;
                    }
                }
            }
        }
    }
}



.top_menu {
    position: relative;
    height: 100%;
    background-image: url("../img/menu_back_ryuguu.png");
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: center;

    //  fullpage.jsのCSS打ち消し
    .fp-tableCell {
        display: block;
    }

    //  ロゴ(食育ライブ2017)
    .logo {
        //  margin: 100px 0; はNG
        //  各sectionの高さを変えると、店舗選択に戻った際に高さがおかしくなる
        padding: 100px 0;
        box-sizing: border-box;
        opacity: 0;

        &__item {
            width: 900px;
            height: 400px;
            margin: 0 auto;
            text-align: center;

            &__link {
                .menu_logo_image {
                    width: auto;
                    height: 400px;
                }
            }
        }
    }

    .list {
        width: 1920px;
        margin: 30px auto 0 auto;
        padding: 0 50px;
        box-sizing: border-box;

        &__item {
            width: 350px;
            height: auto;
            margin: 0 25px;
            float: left;
            &:first-child {
                margin: 0 25px 0 135px;
            }
            &:last-child {
                margin: 0 135px 0 25px;
            }

            &__link {
                display: block;
                text-align: center;

                &__image {
                    width: 350px;
                    height: auto;
                }
            }
        }
    }//  .list

    .soogo {
        position: absolute;
        bottom: 30px;
        left: -200px;

        &__image {
            width: auto;
            height: 200px;
        }
    }//  .soogo
}//  .top_menu



.fullpage {
    display: none;
    position: relative;

    #section3 {
        .slide3_1,.slide3_3 {
            .back_layer {
                position: relative;
                height: 100%;
                background-color: #FFF;
                background-image: url("../img/quiz_back_ryuguu.png");
                background-size: 1920px auto;
                background-repeat: no-repeat;
                background-position: center;

                .quiz {
                    position: absolute;
                    right: 0;
                    bottom: 150px;
                    left: 0;
                    width: 900px;
                    height: 600px;
                    margin: auto;

                    //  .quiz__word
                    //  クイズの問題文部分の外枠
                    &__word {
                        position: relative;
                        width: 900px;
                        height: 300px;

                        .question {
                            position: relative;
                            width: 750px;
                            height: 200px;
                            margin: 25px auto 0 auto;
                            border: 10px solid $key_color2;
                            box-sizing: border-box;
                            background-color: #FFF;

                            &__word {
                                position: absolute;
                                right: 0;
                                left: 0;
                                width: 650px;
                                margin: 22px auto;
                                line-height: 2;
                                color: $key_color2;
                                font-weight: bold;
                                @include font-size(34);

                                span {
                                    display: block;
                                }
                            }//  .question__word

                            &__circle {
                                position: absolute;
                                top: -30px;
                                left: -30px;
                                width: 80px;
                                height: 80px;
                                @include border-radius(40);
                                background-color: $key_color2;

                                &__number {
                                    height: 80px;
                                    line-height: 80px;
                                    text-align: center;
                                    color: #FFF;
                                    font-weight: bold;
                                    @include font-size(30);
                                }
                            }
                        }//  .question
                    }//  .quiz__word

                    //  .quiz__choice
                    //  クイズの選択肢部分の外枠
                    &__choice {
                        width: 900px;
                        height: 300px;

                        &__A {
                            width: 300px;
                            margin: 0 0 0 50px;
                        }

                        &__B {
                            width: 300px;
                            margin: 0 50px 0 0;
                        }

                        &__A,&__B {
                            text-align: center;
                            float: left;

                            .link {
                                display: block;
                                .image {
                                    width: auto;
                                    height: 300px;
                                }
                            }
                        }

                        &__soogo {
                            width: 200px;
                            float: left;
                        }
                    }
                }//  .quiz

                .slide_position_bar {
                    position: absolute;
                    top: auto;
                    bottom: 50px;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                }
            }//  .back_layer
        }//  .slide3_1



        .slide3_2,.slide3_4 {
            .back_layer {
                position: relative;
                height: 100%;
                background-color: #FFF;
                background-image: url("../img/quiz_back_ryuguu.png");
                background-size: 1920px auto;
                background-repeat: no-repeat;
                background-position: center;

                //  gif画像用
                .movie {
                    position: absolute;
                    z-index: 5;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    margin: auto;

                    &__gif {
                        position: relative;
                        height: 100%;
                        text-align: center;

                        .image {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: auto;
                            height: 80%;
                            margin: auto;
                        }
                    }
                }//  .movie

                .answer {
                    position: absolute;
                    z-index: 4;
                    top: auto;
                    right: 0;
                    bottom: 120px;
                    left: 0;
                    width: 1000px;
                    height: 600px;
                    margin: auto;

                    &__illust {
                        position: relative;
                        width: 400px;
                        float: left;

                        .image {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 400px;
                            height: auto;
                            margin: auto;
                        }
                    }

                    &__sentence {
                        width: 500px;
                        text-align: center;
                        float: right;

                        .image {
                            width: 500px;
                            height: auto;
                        }
                    }

                    &__illust,&__sentence {
                        height: 100%;
                    }
                }//  .answer

                .slide_position_bar {
                    position: absolute;
                    top: auto;
                    bottom: 50px;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                }
            }//  .back_layer
        }//  .slide3_2
    }//  #section3
}//  .fullpage



//  fullpage.cssの改変部分
//  スライド内左右の矢印を非表示に
.fp-controlArrow.fp-prev {
    visibility: hidden;
}

.fp-controlArrow.fp-next {
    visibility: hidden;
}
