//  name   : style.scss
//  writer : DaichiSeki
//  date   : 2016/11/14ã€œ
@charset "UTF-8";

@import "variables";
@import "mixin";



.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;

    &__nav {
        height: 100%;

        .heading_menu {
            height: 100%;

            .item {
                height: 100%;
                margin: 0 20px 0 0;
                float: left;
                @include middle-line(50);

                &:first-child {
                    margin: 0 20px 0 20px;
                }

                &__link {
                    display: block;
                    padding: 0 20px;
                    text-decoration: none;
                    background-color: #F5F5F5;
                    color: $link_color1;
                    transition: linear 0.5s;
                    @include border-radius(25);
                    @include font-size(18);

                    &:hover {
                        background-color: $link_color1;
                        color: #F5F5F5;
                    }
                }
            }
        }
    }
}



.fullpage {
    position: relative;
}
