doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
      
    link(href="../css/reset.css" rel="stylesheet")
    link(href="../css/jquery.fullPage.css" rel="stylesheet")
    link(href="../css/style.css" rel="stylesheet")
      
    script(src="../js/vendors/jquery-1.11.2.min.js")
    script(src="../js/vendors/jquery.easings.min.js")
    script(src="../js/vendors/scrolloverflow.min.js")
    script(src="../js/vendors/jquery.fullPage.min.js")
    script(src="../js/main.js")
      
    title 産学連携サンプル
  body
    include include/_header.pug
    #fullpage.fullpage(style="display: none;")
      section.section.top_menu
        .logo
          p.logo__item
        ul.list.clearfix
          li.list__item
            a.list__item__link(href="#page_1")
              img.list__item__link__image(src="../img/huzitaya.png" alt="藤田屋1")
          li.list__item
            a.list__item__link(href="#page_2")
              img.list__item__link__image(src="../img/huzitaya.png" alt="藤田屋2")
          li.list__item
            a.list__item__link(href="#page_3")
              img.list__item__link__image(src="../img/huzitaya.png" alt="藤田屋3")
          li.list__item
            a.list__item__link(href="#page_4")
              img.list__item__link__image(src="../img/huzitaya.png" alt="藤田屋4")
      section.section
        p フルページその1
      section.section
        .slide スライド1
        .slide スライド2
        .slide スライド3
        .slide スライド4
      section.section
        p フルページその2
      section.section
        p フルページその3
      
