doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=360,initial-scale=1")
      
    link(href="../css/reset.css" rel="stylesheet")
    link(href="../css/jquery.fullPage.css" rel="stylesheet")
    link(href="../css/style.css" rel="stylesheet")
      
    script(src="../js/vendors/jquery-1.11.2.min.js")
    script(src="../js/vendors/velocity.min.js")
    script(src="../js/vendors/jquery.easing.1.3.js")
    script(src="../js/vendors/jquery.easings.min.js")
    script(src="../js/vendors/scrolloverflow.min.js")
    script(src="../js/vendors/jquery.fullPage.min.js")
    script(src="../js/main.js")
      
    title 産学連携サンプル
  body
    include include/_header.pug
    #fullpage.fullpage(style="display: none;")
      section.section.top_menu#section1
        .menu_back
          img.image(src="../img/menu_back_ryuguu.png" alt="メニュー背景")
        .logo#menu_logo
          p.logo__item
            a.logo__item__link(href="#section1")
              img.menu_logo_image(src="../img/menu_logo.png" alt="メニューロゴ")
        ul.list.clearfix
          li.list__item
            a.list__item__link#menu_page1_link(href="#")
              img.list__item__link__image(src="../img/shop_aisei.png" alt="相生屋")
          li.list__item
            a.list__item__link#menu_page2_link(href="#")
              img.list__item__link__image(src="../img/shop_uokatu.png" alt="魚勝商店")
          li.list__item
            a.list__item__link#menu_page3_link(href="#")
              img.list__item__link__image(src="../img/shop_tuziki.png" alt="辻喜")
          li.list__item
            a.list__item__link#menu_page4_link(href="#")
              img.list__item__link__image(src="../img/shop_hizitaya.png" alt="藤田屋")
        .soogo#menu_soogo
          img.soogo__image(src="../img/soogo01.png" alt="そーご")
      section.section#section2
        .slide#slide2_1 1店舗目スライド1
        .slide#slide2_2 1店舗目スライド2
        .slide#slide2_3 1店舗目スライド3
        .slide#slide2_4 1店舗目スライド4
      section.section#section3
        .slide.slide3_1#slide3_1
          .back_layer
            .quiz
              .quiz__word
                .question
                  p.question__word
                    span 名古屋市中央卸売市場では
                    span 一般の人がセリに参加することができる！
              .quiz__choice.clearfix
                p.quiz__choice__A
                  a.link#link_A_3_1(href="#")
                    img.image(src="../img/icon_maru.png" alt="選択肢まる")
                p.quiz__choice__soogo
                  img.image(src="../img/soogo01.png" alt="仮そーご")
                p.quiz__choice__B
                  a.link#link_B_3_1(href="#")
                    img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
        .slide.slide3_2#slide3_2
          .back_layer
            .movie#slide3_2__movie
              p.movie__gif#slide3_2__movie__gif
            .incorrect_soogo#slide3_2__incorrect_soogo
                img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
            .answer.clearfix#slide3_2__answer
              .answer__illust
                a.link#next_quiz(href="#")
                  img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
              .answer__sentence
                img.image(src="../img/uokatu_kaisetu01.png" alt="魚勝解説1")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
        .slide.slide3_3#slide3_3
          .back_layer
            .quiz
              .quiz__word
                .question
                  p.question__word
                    span 名古屋市中央卸売市場では
                    span 一般の人がセリに参加することができる！
              .quiz__choice.clearfix
                p.quiz__choice__A
                  a.link#link_A_3_3(href="#")
                    img.image(src="../img/icon_maru.png" alt="選択肢まる")
                p.quiz__choice__soogo
                  img.image(src="../img/soogo01.png" alt="仮そーご")
                p.quiz__choice__B
                  a.link#link_B_3_3(href="#")
                    img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
        .slide.slide3_4#slide3_4
          .back_layer
            .movie#slide3_4__movie
              p.movie__gif#slide3_4__movie__gif
            .incorrect_soogo#slide3_4__incorrect_soogo
                img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
            .answer.clearfix#slide3_4__answer
              .answer__illust
                a.link#next_quiz(href="#")
                  img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
              .answer__sentence
                img.image(src="../img/uokatu_kaisetu01.png" alt="魚勝解説1")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
        .slide.slide3_5#slide3_5
          .back_layer
            .quiz
              .quiz__word
                .question
                  p.question__word
                    span 名古屋市中央卸売市場では
                    span 一般の人がセリに参加することができる！
              .quiz__choice.clearfix
                p.quiz__choice__A
                  a.link#link_A_3_5(href="#")
                    img.image(src="../img/icon_maru.png" alt="選択肢まる")
                p.quiz__choice__soogo
                  img.image(src="../img/soogo01.png" alt="仮そーご")
                p.quiz__choice__B
                  a.link#link_B_3_5(href="#")
                    img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
        .slide.slide3_6#slide3_6
          .back_layer
            .movie#slide3_6__movie
              p.movie__gif#slide3_6__movie__gif
            .incorrect_soogo#slide3_6__incorrect_soogo
                img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
            .answer.clearfix#slide3_6__answer
              .answer__illust
                a.link#next_quiz(href="#")
                  img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
              .answer__sentence
                img.image(src="../img/uokatu_kaisetu01.png" alt="魚勝解説1")
            .slide_position_bar
              img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
            .shop_name
              .shop_name__container.clearfix
                span.fugu.fugu_left
                  img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
                span.word 魚勝商店
                span.fugu.fugu_right
                  img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
      section.section#section4
        .slide#slide4_1 3店舗目スライド1
        .slide#slide4_2 3店舗目スライド2
        .slide#slide4_3 3店舗目スライド3
        .slide#slide4_4 3店舗目スライド4
        .slide#slide4_5 3店舗目スライド5
      section.section#section5
        .slide#slide5_1 4店舗目スライド1
        .slide#slide5_2 4店舗目スライド2
        .slide#slide5_3 4店舗目スライド3
        .slide#slide5_4 4店舗目スライド4
        .slide#slide5_5 4店舗目スライド5
