header.header
  nav.header__nav
    ul#menu.heading_menu
      li.item(data-menuanchor="firstPage"): a.item__link(href="#firstPage") FirstSection
      li.item(data-menuanchor="secondPage"): a.item__link(href="#secondPage") SecondSection
      li.item(data-menuanchor="3rdPage"): a.item__link(href="#3rdPage") ThirdSection
      li.item(data-menuanchor="4thPage"): a.item__link(href="#4thPage") FourthSection
