header#header.header
  nav.header__nav
    ul#menu.heading_menu
      li.item(data-menuanchor="aaa"): a.item__link(href="#aaa") aaa
      li.item(data-menuanchor="page_1"): a.item__link(href="#page_1") page_1
      li.item(data-menuanchor="page_2"): a.item__link(href="#page_2") page_2
      li.item(data-menuanchor="page_3"): a.item__link(href="#page_3") page_3
      li.item(data-menuanchor="page_4"): a.item__link(href="#page_4") page_4
