section.section.top_menu#section1
  .menu_back
    img.image(src="../img/menu_back_ryuguu.png" alt="メニュー背景")
  .logo#menu_logo
    p.logo__item
      a.logo__item__link(href="#section1")
        img.menu_logo_image(src="../img/menu_logo.png" alt="メニューロゴ")
  ul.list.clearfix
    li.list__item
      a.list__item__link#menu_page1_link(href="#")
        img.list__item__link__image(src="../img/shop_aisei.png" alt="相生屋")
    li.list__item
      a.list__item__link#menu_page2_link(href="#")
        img.list__item__link__image(src="../img/shop_uokatu.png" alt="魚勝商店")
    li.list__item
      a.list__item__link#menu_page3_link(href="#")
        img.list__item__link__image(src="../img/shop_tuziki.png" alt="辻喜")
    li.list__item
      a.list__item__link#menu_page4_link(href="#")
        img.list__item__link__image(src="../img/shop_fuzitaya.png" alt="藤田屋")
  .soogo#menu_soogo
    img.soogo__image(src="../img/soogo01.png" alt="そーご")
  .kurage_left#menu_kurage_left
    img.kurage_left__image(src="../img/kurage_op_ed.png" alt="くらげ左")
  .kurage_right#menu_kurage_right
    img.kurage_right__image(src="../img/kurage_op_ed.png" alt="くらげ右")
