section.section#section2
  .slide.slide2_1#slide2_1
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span フグを釣り上げて
              span 最初にすることは血抜きである
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_2_1(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_2_1(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei01.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide2_2#slide2_2
    .back_layer
      .movie#slide2_2__movie
        p.movie__mp4#slide2_2__movie__mp4
      .soogo#slide2_2__soogo
        img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide2_2__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main フグを釣り上げた漁師は、まず歯を切ります。フグの歯は鋭く、同じ水槽に入れたフグ同市で傷つけてしまうため、身を守るために歯を切ります。
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei01.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide2_3#slide2_3
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.one_column
              span フグは膨らんだ方が、身が美味しくなる!
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_2_3(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_2_3(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei02.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide3_4#slide2_4
    .back_layer
      .movie#slide2_4__movie
        p.movie__gif#slide2_4__movie__gif
      .soogo#slide2_4__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide2_4__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main フグは怒ると胃袋が膨らんで大きくなりますが、膨らむことにより身が傷むので、いかにフグを怒らせず運搬するのが、プロの技となります。
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei02.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide2_5#slide2_5
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span フグが最も美味しいのは
              span 漁の解禁直後10月である！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_2_5(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_2_5(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei03.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide2_6#slide2_6
    .back_layer
      .movie#slide2_6__movie
        p.movie__gif#slide2_6__movie__gif
      .soogo#slide2_6__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide2_6__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 10月1日からフグの漁が解禁されますが、フグの身が美味しいのは、解禁から1ヶ月間です。
      .slide_position_bar
        img.image(src="../img/bottom_bar_aisei03.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/aisei_icon01.png" alt="相生屋の看板左")
          span.word 相生屋
          span.fugu.fugu_right
            img.image(src="../img/aisei_icon01.png" alt="相生屋の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
