section.section#section3
  .slide.slide3_1#slide3_1
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 名古屋市中央卸売市場は、
              span 一般の人がセリに参加することができる。
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_3_1(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_3_1(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
  .slide.slide3_2#slide3_2
    .back_layer
      .movie#slide3_2__movie
        p.movie__gif#slide3_2__movie__gif
      .soogo#slide3_2__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide3_2__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 	一般の人は魚のセリには参加できません。また、市場内の店舗は基本的に業務用ですが、人気の食堂は一般の人も利用できます。
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
  .slide.slide3_3#slide3_3
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.one_column
              span 青森県の大間のマグロが最も美味しい
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_3_3(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_3_3(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
  .slide.slide3_4#slide3_4
    .back_layer
      .movie#slide3_4__movie
        p.movie__gif#slide3_4__movie__gif
      .soogo#slide3_4__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide3_4__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 様々な産地の種類、味の特徴があり有名ブランドだから最も美味しいわけではありません。名古屋では、他地域に比べてキハダマグロが好まれます。
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
  .slide.slide3_5#slide3_5
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 記憶に残る一番大きなマグロは全長288㎝
              span 重さ483㎏のクロマグロである。
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_3_5(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_3_5(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
  .slide.slide3_6#slide3_6
    .back_layer
      .movie#slide3_6__movie
        p.movie__gif#slide3_6__movie__gif
      .soogo#slide3_6__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide3_6__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main タイセイヨウクロマグロで全長458㎝、重さ680㎏の記録があります。大西洋の熱帯海域に分布しており、日本にも食用として輸入されています。
      .slide_position_bar
        img.image(src="../img/slide_position_bar.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 魚勝商店
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
