section.section#section5
  .slide.slide5_1#slide5_1
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 売り場の配置見直しは
              span 1週間ごとである！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_5_1(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_5_1(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .slide_position_bar
        img.image.go_to_top(src="../img/bottom_bar_fuzitaya01.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide5_2#slide5_2
    .back_layer
      .movie#slide5_2__movie
        p.movie__gif#slide5_2__movie__gif
      .soogo#slide5_2__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide5_2__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 食材の入荷に応じて変えています。食材によってどの様にディスプレイするか腕の見せ所。食材の位置で売上も変化するので、陳列はとても重要です。
      .slide_position_bar
        img.image(src="../img/bottom_bar_fuzitaya01.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide5_3#slide5_3
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 食材の旬をプロ用語で
              span 『はしりもの』と言う！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_5_3(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_5_3(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_fuzitaya02.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide5_4#slide5_4
    .back_layer
      .movie#slide5_4__movie
        p.movie__gif#slide5_4__movie__gif
      .soogo#slide5_4__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide5_4__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 初物をはしりもの、最も美味しい時期(＝旬)をさかりもの、旬が終わる時期の物をなごりものと言い、八百屋の店舗は、季節感で溢れています。
      .slide_position_bar
        img.image(src="../img/bottom_bar_fuzitaya02.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide5_5#slide5_5
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 藤田屋商店で、最も高額な食材は
              span 松茸である！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_5_5(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_5_5(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_fuzitaya03.png" alt="現在のスライド表示バー")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
  .slide.slide5_6#slide5_6
    .back_layer
      .movie#slide5_6__movie
        p.movie__gif#slide5_6__movie__gif
      .soogo#slide5_6__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide5_6__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 山口県産の松茸が3本21万円で販売されたことがあります。貴重な希少食材は高額になることも多く、価格は需要と供給のバランスで決まります。
      .slide_position_bar
        img.image(src="../img/bottom_bar_fuzitaya03.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板左")
          span.word 藤田屋商店
          span.fugu.fugu_right
            img.image(src="../img/fuzitaya_icon01.png" alt="藤田屋商店の看板右")
      .stone
        img.image.go_to_top(src="../img/stone.png" alt="TOPへ戻る")
