section.section#section4
  .slide.slide4_1#slide4_1
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.one_column
              span ウニは常温だと溶けてしまう！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_4_1(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_4_1(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/tuziki_icon01.png" alt="辻喜の看板左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/tuziki_icon01.png" alt="辻喜の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki01.png" alt="現在のスライド表示バー")
  .slide.slide4_2#slide4_2
    .back_layer
      .movie#slide4_2__movie
        p.movie__gif#slide4_2__movie__gif
      .soogo#slide4_2__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide4_2__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 獲れたままのウニ(食用部分)を、常温でそのままにしておくと形が崩れ溶けてしまいます。形を保つためにミョウバンが使われています。
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki01.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/tuziki_icon01.png" alt="辻喜の看板左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/tuziki_icon01.png" alt="辻喜の看板右")
  .slide.slide4_3#slide4_3
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span 店頭にウニが並ぶのは
              span 暖かくなる4月までである！
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_4_3(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_4_3(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/tuziki_icon01.png" alt="辻喜の看板左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/tuziki_icon01.png" alt="辻喜の看板右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki02.png" alt="現在のスライド表示バー")
  .slide.slide4_4#slide4_4
    .back_layer
      .movie#slide4_4__movie
        p.movie__gif#slide4_4__movie__gif
      .soogo#slide4_4__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide4_4__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main 北海道直送のウニは、1年を通して店頭に並びます。最も多いのは春。最も少ないのは真夏ですが、ここ辻喜ではウニを切らすことはありません。
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki02.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/tuziki_icon01.png" alt="辻喜の看板左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/tuziki_icon01.png" alt="辻喜の看板右")
  .slide.slide4_5#slide4_5
    .back_layer
      .quiz
        .quiz__word
          .question
            .question__word.two_column
              span ウニの殻の下にある
              span 丸い穴はウニの口である。
        .quiz__choice.clearfix
          p.quiz__choice__A
            a.link#link_A_4_5(href="#")
              img.image(src="../img/icon_maru.png" alt="選択肢まる")
          p.quiz__choice__soogo
            img.image(src="../img/soogo01.png" alt="仮そーご")
          p.quiz__choice__B
            a.link#link_B_4_5(href="#")
              img.image(src="../img/icon_batu.png" alt="選択肢ばつ")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/uokatu_icon01.png" alt="魚勝商店のふぐ右")
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki03.png" alt="現在のスライド表示バー")
  .slide.slide4_6#slide4_6
    .back_layer
      .movie#slide4_6__movie
        p.movie__gif#slide4_6__movie__gif
      .soogo#slide4_6__soogo
          img.image(src="../img/incorrect_sogo.png" alt="不正解のそーご")
      .answer.clearfix#slide4_6__answer
        .answer__illust
          a.link#next_quiz(href="#")
            img.image(src="../img/soogo01.png" alt="解説に付属するイラスト")
        .answer__sentence
          .word
            p.word__main ウニの口には、咀嚼するための5つの歯があり、海藻などを食べます。ちなみにウニが多い海岸では、昆布が育成できなくなるといいます。
      .slide_position_bar
        img.image(src="../img/bottom_bar_tuziki03.png" alt="現在のスライド表示バー")
      .shop_name
        .shop_name__container.clearfix
          span.fugu.fugu_left
            img.image.reverse(src="../img/tuziki_icon01.png" alt="辻喜の看板左")
          span.word 辻喜
          span.fugu.fugu_right
            img.image(src="../img/tuziki_icon01.png" alt="辻喜の看板右")
